/*body{*/
/*    color: #ccc;*/
/*}*/

body
{
  color: #40514E;
  margin: 0;
  text-align: center;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: 'Merriweather', serif;
}
h1
{
  color: #66BFBF;
  font-size: 5.25rem;    /*also px works. 16px = 100% = 1em*/
  margin: 50px auto 0 auto;
  /*width:   10%;
  margin: 0 auto 0 auto;*/
  font-family: 'Sacramento', cursive;
}
h2
{
  color: #66BFBF;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}
hr{
  border: dotted #60a9a6 6px;
  width: 16%;
  margin: 100px auto;
}


.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 50px;
}
.middle-container{
  margin: 50px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.dept{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2
}

.top-cloud{
  position: absolute ;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.ukg{
  width:15%;

}
.pc{
  width: 15%;
  height: 15%;
  float: left;
  margin-right: 30px;
}
.piano{
  width: 15%;
  float: right;
  margin-left: 30px;
}

.contact_message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
